.pets__header {
  position: fixed;
  top: 0;
  background: #FFFFFF;
  padding: 30px 0; }
  .pets__header-title {
    color: #545454; }
  .pets__header-subtitle {
    color: #292929; }
  .pets__header__hamburger__btn > span,
  .pets__header__hamburger__btn > span:before,
  .pets__header__hamburger__btn > span:after {
    background-color: black; }
  .pets__header__items {
    color: #545454; }
    .pets__header__items li:hover {
      color: #292929; }
    .pets__header__items-active {
      outline: none;
      border-bottom: 0.1875rem solid #F1CDB3; }

.friends__list {
  padding: 200px 0 100px;
  background: #F6F6F6; }
  @media (max-width: 79.9375rem) {
    .friends__list {
      padding: 200px 0 76px; } }
  @media (max-width: 47.9375rem) {
    .friends__list {
      padding: 162px 0 42px; } }
  .friends__list__title {
    width: 25rem;
    text-align: center;
    margin: 0 auto 30px; }
    @media (max-width: 79.9375rem) {
      .friends__list__title {
        margin: 0 auto; } }
    @media (max-width: 47.9375rem) {
      .friends__list__title {
        width: auto;
        margin: 0 auto 12px; } }
  .friends__list__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 30px;
    margin-bottom: 30px; }
    .friends__list__content .our-friends__content__slider__container-item {
      margin-bottom: 30px; }
    @media (max-width: 79.9375rem) {
      .friends__list__content {
        padding: 30px 64px 0;
        overflow: hidden;
        height: 1425px;
        margin-bottom: 10px; } }
    @media (max-width: 47.9375rem) {
      .friends__list__content {
        justify-content: center;
        padding: 30px 0 0;
        margin-bottom: 12px; } }
  .friends__list__paginator {
    display: flex;
    justify-content: center; }
    .friends__list__paginator .pag_btn {
      width: 52px;
      height: 52px;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background: white;
      border: 2px solid #F1CDB3;
      border-radius: 100px;
      font-size: 1.25rem;
      line-height: 115%;
      letter-spacing: 0.06em;
      color: #292929;
      cursor: pointer;
      transition: .1s linear; }
      .friends__list__paginator .pag_btn + .pag_btn {
        margin-left: 20px; }
        @media (max-width: 47.9375rem) {
          .friends__list__paginator .pag_btn + .pag_btn {
            margin-left: 10px; } }
      .friends__list__paginator .pag_btn:hover:not(:disabled):not(.pag-active-button) {
        border: 2px solid #FDDCC4;
        background: #FDDCC4; }
      .friends__list__paginator .pag_btn:disabled {
        border: 2px solid #CDCDCD;
        cursor: default; }
        .friends__list__paginator .pag_btn:disabled path {
          fill: #CDCDCD; }
    .friends__list__paginator .pag-active-button {
      background: #F1CDB3; }
