@import "../../assets/css/normalize.scss";
@import "../../assets/css/cssreset.scss";
@import "../../assets/css/variables.scss";

@font-face {
  font-family: Georgia;
  src: url('../../assets/fonts/georgia.ttf');
}

//COMMON STYLES
html {
  font-family: 'Georgia', serif;
}

.h1 {
  position: absolute;
  opacity: 0;
}

.container-inner {
  width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

.common-button {
  display: inline-block;
  padding: 15px 45px;
  border-radius: 100px;
  background: #F1CDB3;
  text-decoration: none;
  color: #292929;
  font-size: rem(17px);
  line-height: 130%;
  letter-spacing: 0.06em;

  &:hover {
    background: #FDDCC4;
  }
}

.common-title {
  font-size: $font-size-title-35;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

.slider-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: rem(52px);
  height: rem(52px);
  border-radius: 100px;
  background: white;
  border: 2px solid #F1CDB3;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background: #F1CDB3;
  }
}
//END COMMON STYLES


//HEADER
header {
  position: absolute;
  left: 0;
  right: 0;
  padding-top: 60px;
}

.header__content {
  display: flex;
  justify-content: space-between;

  &__logo {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-title {
      font-size: rem(32px);
      line-height: 110%;
      letter-spacing: 0.06em;
      color: #F1CDB3;
      margin-bottom: 10px;
    }

    &-subtitle {
      font-family: $arial-san-serif;
      font-size: rem(13px);
      line-height: rem(15px);
      letter-spacing: 0.1em;
      color: #FFFFFF;
    }
  }

  &__menu {
    display: flex;
    align-items: center;

    &__items {
      display: flex;
      font-family: $arial-san-serif;
      font-size: $font-size-text-15;
      line-height: 160%;
      letter-spacing: 0.005em;
      color: #CDCDCD;

      li:hover {
        color: #FAFAFA;
        cursor: pointer;
      }

      li + li {
        margin-left: 35px;
      }

      &-active {
        color: #FAFAFA;
        border-bottom: rem(3px) solid #F1CDB3;
      }
    }
  }
}

//END HEADER


//MAIN SECTION
.main {
  padding-top: 180px;
  background: url('../../assets/images/noise_transparent@2x.png') repeat, radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;

  &__content {
    display: flex;
    justify-content: space-between;

    &__info {
      padding-top: 163px;

      &-title {
        width: rem(310px);
        font-size: rem(44px);
        line-height: 130%;
        color: #FFFFFF;
        margin-bottom: 42px;
      }

      &-text {
        width: rem(460px);
        font-family: $arial-san-serif;
        font-size: $font-size-text-15;
        line-height: 160%;
        color: #CDCDCD;
        margin-bottom: 41px;
      }
    }

    &__img {
      line-height: 0;
      align-self: flex-end;
    }
  }
}
//END MAIN SECTION


//ABOUT
.about {
  padding: 80px 0 100px;
  background: white;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: rem(850px);
    margin: 0 auto;

    &__img {
      line-height: 0;
    }

    &__info {
      width: rem(430px);

      &-title {
        width: rem(370px);
        margin-bottom: 25px;
      }

      &-text {
        font-family: $arial-san-serif;
        font-size: $font-size-text-15;
        line-height: 160%;
        color: #4C4C4C;

        &-paragraph + &-paragraph {
          margin-top: 25px;
        }
      }
    }
  }
}
//END ABOUT


//OUR FRIENDS
.our-friends {
  padding: 80px 0 100px;
  background: #F6F6F6;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
      width: rem(400px);
      text-align: center;
      margin-bottom: 60px;
    }

    &__slider {
      display: flex;
      align-items: center;
      margin-bottom: 60px;

      &__container {
        display: flex;
        margin: 0 53px;

        &-item {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: rem(270px);
          height: rem(435px);
          background: #FAFAFA;
          border-radius: 9px;

          &:hover {
            background: #FFFFFF;
            box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
          }

          &-image {
            width: rem(200px);
            height: rem(240px);
            line-height: 0;
            overflow: hidden;
            margin-bottom: 30px;

            img {
              width: 100%;
            }
          }

          &-title {
            font-size: $font-size-subtitle-20;
            line-height: rem(23px);
            letter-spacing: 0.06em;
            color: #545454;
            margin-bottom: 30px;
          }

          &-button {
            width: fit-content;
            display: block;
            padding: 13px 43px;
            border-radius: 100px;
            border: 2px solid #F1CDB3;
            text-decoration: none;
            color: #292929;
            font-size: rem(17px);
            line-height: 130%;
            letter-spacing: 0.06em;
          }

          & + & {
            margin-left: 90px;
          }
        }
      }
    }
  }
}
//END OUR FRIENDS


//HELP
.help {
  padding: 80px 0 45px;
  background: white;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
      width: rem(310px);
      text-align: center;
      margin-bottom: 60px;
    }

    &-icons {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 60px 55px;

      &-img {
        margin-bottom: 30px;
        line-height: 0;
      }

      &-title {
        font-size: $font-size-subtitle-20;
        line-height: 115%;
        letter-spacing: 0.06em;
        color: #545454;
      }
    }
  }
}
//END HELP


//CONTACTS
.contacts {
  padding: 80px 0 100px;
  background: #F6F6F6;

  &__content {
    display: flex;
    justify-content: center;

    &__img {
      margin: 12px 0 11px;
      line-height: 0;
    }

    &__text {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: rem(380px);
      margin-left: 30px;

      &-title {
        width: rem(300px);
        margin-bottom: 20px;
      }

      &-bank-name {
        font-size: $font-size-text-15;
        line-height: 110%;
        letter-spacing: 0.06em;
        color: #545454;
        margin-bottom: 20px;
      }

      &-credit-card {
        margin-bottom: 20px;

        &-content {
          width: fit-content;
          display: flex;
          align-items: center;
          padding: 10px 15px;
          background: #F1CDB3;
          border-radius: 9px;

          &-img {
            line-height: 0;
          }

          &-number {
            text-decoration: none;
            margin-left: 15px;
            font-size: $font-size-subtitle-20;
            line-height: 115%;
            letter-spacing: 0.06em;
            color: #545454;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      &-info {
        font-family: $arial-san-serif;
        font-style: italic;
        font-size: rem(12px);
        line-height: rem(18px);
        color: #B2B2B2;
      }
    }
  }
}
//END CONTACTS


//FOOTER
.main__footer {
  background: url('../../assets/images/noise_transparent@2x.png') repeat, radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
  padding-top: 40px;

  &__content {
    display: flex;
    justify-content: space-between;

    &__list {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: rem(234px);
      padding-top: 16px;

      &-title {
        font-size: $font-size-title-35;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #FFFFFF;
      }

      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #F1CDB3;

        &:hover {
          text-decoration: underline;
        }
      }

      &-img {
        line-height: 0;
      }

      &-text {
        font-size: rem(20px);
        line-height: 115%;
        letter-spacing: 0.06em;
        margin-left: 20px;
      }
    }

    &__img {
      line-height: 0;
    }
  }
}
//END FOOTER