@import "functions";

$font-size-title-35: rem(35px);
$font-size-title-25: rem(25px);
$font-size-subtitle-20: rem(20px);
$font-size-text-15: rem(15px);

$width-1279: rem(1279px);
$width-767: rem(767px);

$arial-san-serif: 'Arial', sans-serif;